.top-bar {
	height: 5px;
	background: #ca2129;
	margin-bottom: 1px;
}

.navbar {
	margin-bottom: 1px;
}

.navbar li:hover {
	background: #e7e7e7;
}

.jumbotron {
	background-image: url(../images/waterdrop.jpg);
	height: 350px;
	padding: 0;
}


.jumbotron [class*="col-"] {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: rgba(86, 61, 124, .15);
	border: 1px solid rgba(86, 61, 124, .2);
	overflow: auto;
	height: 350px;
}

.jumbotron-content {
	color: white;
}

.jumbotron h1 {
	font-size: 34px;
}

.bluebox {
	background-color: blue;
	overflow: hidden;
	height: 230px;
	color: white;
	padding: 0 10px;
	font-size: 120%;
}

.bluebox a.readmore {
	position: absolute;
	bottom: 15px;
	left: 30px;
	background: #2b8cbc;
	padding: 10px 15px;
	color: #ffffff;
}

.bluebox a.readmore:hover {
	background: #20749d;
}



.redbox {
	background-color: red;
	overflow: hidden;
	height: 230px;
	color: white;
	padding: 0 10px;
	font-size: 120%;
}

.redbox a.readmore {
	position: absolute;
	bottom: 15px;
	left: 30px;
	background: #bf1e26;
	padding: 10px 15px;
	color: #ffffff;
}

.redbox a.readmore:hover {
	background: #86161b;
}



